.input-style {
    height: 40px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: 1px solid #252525;
    font-weight: 400;
    padding-left: 10px;
    margin-top: 3px;
}

.input-label-style {
    font-family: "Montserrat", serif;
    font-size: 12px;
    font-weight: 500;
}

.asterisk {
    color: red;
}

.invisible {
    display: none;
}