.manage-quarter {
    color: white;
    font-Family: Montserrat, serif;
    font-Weight: 500;
    font-Size: 18px;
    background-color: #2C4370;
    width: 100%;
    text-align: center;
}

.manage-quarter:hover {
    color: black;
    background-color: #FFF171;
    cursor: pointer;
}

.no-events {
    pointer-events: none;
}