.price-span {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 500;
}

.label-span {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}